<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles"></head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
		<div>
	    	<div th:if="${utente}" th:object="${utente}">
				<span th:text="*{nome}">qui-va-nome</span>
				<span th:text="*{cognome}">qui-va-cognome</span>
				<span th:text="*{email}">qui-va-emaile</span>
				<span th:text="*{cellulare}">qui-va-cellulare</span>
	   		</div>
	    	<div th:unless="${utente}">Non esiste</div>
    	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>