<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='home')"></head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<form th:action = "@{/admin/collezione}" method = "POST" th:object = "${collezione}">
			<div class = "container">
				<div class = "dati">
					<section class="errore"><span class="simbol" th:if="${#fields.hasErrors('nome')}"
               		 th:errors="*{nome}"></span>
					<span>Nome:</span></section>
					<span><input type = "text" th:field = "*{nome}" /></span>
				</div>
				<div class = "dati">
					<section class="errore"><span class="simbol" th:if="${#fields.hasErrors('descrizione')}"
               		 th:errors="*{descrizione}"></span>
					<span>Descrizione:</span></section>
					<span><textarea type = "text" th:field = "*{descrizione}"></textarea></span>
				</div>
				<div class = "dati">
					<section class="errore"><span class="simbol" th:if="${#fields.hasErrors('code')}"
               		 th:errors="*{code}"></span>
					<span>Codice:</span></section>
					<span><input type = "text" th:field = "*{code}" /></span>
				</div>
				<div class = "dati">
					<!--<section class="errore"><span class="simbol" th:if="${#fields.hasErrors('curatore')}"
               		 th:errors="*{curatore}"></span>-->
					<span>Curatore:</span><!--</section>-->
					<select name = "curator">
						<option th:each = "curatore : ${curatori}"
								th:value = "curatore.nome" 
								th:text = "${curatore.code} + ':' + ${curatore.nome} + ' ' + ${curatore.cognome}">
						</option>
					</select>	
				</div>
				<div class = "btn">
					<span><button type = "submit">Inserisci</button></span>
				</div>
			</div>
		</form>
	</body>
</html>	
					
			