div.cont{
	background-color: rgba(229,229,229, 0.3);
	display:flex;
	color: white;
	margin: 10%;
	width: 95%;
	height: 100%;
	justify-content:center;
}

table, th, td{
	border: 1px solid white;
	font-size:90%;
}


table.tab{
	width: 50%;
	height: 50%;
	text-align: center;
}


td.infoTable{
	color: white;
}
