<html xmlns:th = "http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='home')"></head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div class = "cont">
			<table class = "tab">
				<tr>
					<th class = "props">Nome</th>
					<th class = "props">Codice</th>
					<th class = "props">Curatore</th>
					<th class = "props">Opere</th>
				</tr>		
				<tr th:each = "collezione : ${collezioni}">
					<td class = "infoTable" th:text = "${collezione.nome}">qui-nome</td>
					<td class = "infoTable" th:text = "${collezione.codice}">qui-codice</td>
					<td class = "infoTable" th:text = "${collezione.curatore}">qui-curatore</td>
					<td class = "infoTable" th:text = "${collezione.opere}">qui-opere</td>
				</tr>
			</table>
		</div>
	</body>
</html>